DATABASE="mongodb+srv://username:password@cluster0.jdkfkge.mongodb.net/database-name"
JWT_SECRET="CHUOINGAUNHIEN"
NODE_ENV="" # "": môi trường dev, "production": môi trường live
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""